<div>class: %%class%%</div>
<div>net: %%feed_network%%</div>
<div>text: %%item_text%%</div>
<div>meta: %%meta_author%% || %%meta_date%% || %%meta_time%% || %%meta_avatar%% || %%meta_info%%</div>
<div>attachement: %%att_type%% || %%att_image%%</div>
<div>url: %%item_url%% || %%str_readmore%%</div>
[isset %%att_image%%]<img src="%%att_image%%" />[/isset]
<hr/>