<div class="lsSocialFeedItemContainer %%class%%">
	[isset %%att_image%%]<img class="lsSocialFeedItem_image" src="%%att_image%%" />[/isset]
	<div class="lsSocialFeedItem_content">%%item_text%%</div>
	<div class="lsSocialFeedItem_clear"></div>
	<div class="lsSocialFeedItem_meta">
		<div class="lsSocialFeedItem_network %%class%%">%%feed_network%%</div>
		<span class="lsSocialFeedItem_author">%%meta_author%%</span>
		<span class="lsSocialFeedItem_date">%%meta_date%%</span>
		<span class="lsSocialFeedItem_time">%%meta_time%%</span>
	</div>
	<a class="lsSocialFeedItem_link" href="%%item_url%%" target="_blank">%%str_readmore%%</a>
</div>
<div class="lsSocialFeedItem_clear"></div>